*{
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 10px;
    padding: 5px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: blue;
    margin: 10px;
    padding: 5px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

main {
    background-color: green;
    margin: 10px;
    padding: 5px;
}

head {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 10px;
    padding: 5px;
    background-color: yellow;
}

section {
    background-color:lightblue;
    margin: 10px;
    padding: 5px;
}

footer {
    background-color: purple;
    margin: 10px;
    padding: 5px;
}

.pizza-image {
    height: 500px;
}

.social-icons {
    background-color: greenyellow;
}

.paper-image {
    width: 100%;
    min-height: 300px;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Container holding the image and the text */
.container {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
  }
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(117, 117, 117);
    align-items: flex-start;
    
  }
  
  /* Top right text */
  .top-right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 8px;
    right: 16px;
    color: rgb(117, 117, 117);
    align-items: flex-start;
  }
  
